:root {
/* greens */
  --jungle-green: #2ebb65;
  --eucalyptus: #25914f;
  --green-pea: #1b6739;
  --bush: #113f23;
  --black-bean: #06160d;
/* purples */
  --deluge: #8568a2;
  --cyber-grape: #6c5383;
  --mulled-wine: #524063;
  --blackcurrant: #392d44;
  --bastille: #1f1925;
  /* profile-colors-a */
  --luxor-gold: #a8832e;
  --brown-rust: #b05843;
  --wild-sand: #f4f3f3;
  --luxor-gold-lite: #b08f42;
  --shark: #22272a;
}