.scrollbox {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 100px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid var(--luxor-gold);
  overflow: scroll;
  scrollbar-width: none;
  transition-duration: 0.5s;
  &:hover {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 0px;
  }
}

.scrolldivider {
  border: 1px solid var(--luxor-gold);
}

.audio-text {
  -webkit-text-stroke: 0.3px grey;
  text-align: center; 
  font-family: "Lobster";
  background: linear-gradient(#644e1b 0 30%,#a8832e,#644e1b);
  background-clip: text;
  color: transparent;
  font-size: 1.25rem;
}

.audio-gold {
  display: block;
  margin: 0 auto;
  height: 18px;
  width: 320px;
}
.audio-gold::-webkit-media-controls-enclosure {
  border-radius: 4px;
  border: 2px solid var(--luxor-gold);
}
.audio-gold::-webkit-media-controls-panel {
  background: white;
  mix-blend-mode: difference;
}
.audio-gold::-webkit-media-controls-current-time-display,
.audio-gold::-webkit-media-controls-time-remaining-display {
  font-size: 18px;
  color: #2E53A8;
  font-family: "Recursive";
  line-height: 20px;
}

.h-luxor {
  margin: 3% auto;
  width: 50%;
  height: 1px;
  border: 1px solid transparent;
  background: linear-gradient(to right,transparent,#936f28,#a8832e,#936f28,transparent);
}

.p400 {
  text-wrap: pretty;
  text-align: justify;
  font-family: "Recursive";
  width: 400px;
  margin: 0 auto;
}

.oblivious {
  text-align: center;
  font-family: "Oblivion";
  font-size: 32px;
  color: var(--luxor-gold);
  text-shadow: 1px 1px black, -1px -1px grey;
}

.jukenav {
  padding: 2px;
  font-family: PumpOpti;
  width: max-content;
  margin: 0 auto;
  color: var(--luxor-gold);
}

.jukenav:before {
  content: "{";
}

.jukenav:after {
  content: "}";
}

.navlink {
  color: var(--luxor-gold);
}

.navlink:active {
  color: #86a61c;
}

.particle {
  opacity: 0;
  text-shadow: 0 0 5px black;
  font-size: 32px;
  position: fixed;
  top: -10%;
  animation-name: pdrop;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
  z-index: 3001;
  pointer-events: none;
}

.waver {
  animation-name: pwave;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.particle:nth-of-type(1),
.particle:nth-of-type(1) .waver {
  animation-delay: 1.3s;
  left: 10%;
}

.particle:nth-of-type(2),
.particle:nth-of-type(2) .waver {
  animation-delay: 6.2s;
  left: 25%;
}

.particle:nth-of-type(3),
.particle:nth-of-type(3) .waver {
  animation-delay: 12.34s;
  left: 40%;
}

.particle:nth-of-type(4),
.particle:nth-of-type(4) .waver {
  animation-delay: 18.48596s;
  left: 15%;
}

.particle:nth-of-type(5),
.particle:nth-of-type(5) .waver {
  animation-delay: 24.2s;
  left: 50%;
}

.particle:nth-of-type(6),
.particle:nth-of-type(6) .waver {
  animation-delay: 30.8675309s;
  left: 65%;
}

.particle:nth-of-type(7),
.particle:nth-of-type(7) .waver {
  animation-delay: 36.66s;
  left: 30%;
}

.particle:nth-of-type(8),
.particle:nth-of-type(8) .waver {
  animation-delay: 42.42s;
  left: 70%;
}

.particle:nth-of-type(9),
.particle:nth-of-type(9) .waver {
  animation-delay: 48.3s;
  left: 80%;
}

.particle:nth-of-type(10),
.particle:nth-of-type(10) .waver {
  animation-delay: 52.7s;
  left: 90%;
}

.particle:nth-of-type(11),
.particle:nth-of-type(11) .waver {
  animation-delay: 16.5s;
  left: 5%;
}

.particle:nth-of-type(12),
.particle:nth-of-type(12) .waver {
  animation-delay: 30.4s;
  left: 85%;
}

@keyframes pdrop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(110vh);
  }
}

@keyframes pwave {
  0,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: scalex(-1) translateX(80px);
  }
}

@media screen and (orientation: portrait) {
  .p400 {
    font-size: 12px;
    width: 300px;
  }

  .scrollbox {
    width: 300px;
  }

  .audio-text {
    font-size: 1rem;
  }

  .particle {
    animation-iteration-count: 5;
  }
}

/* 8=============================================D */
/* ---------- eat a sack of baby dicks! ---------- */
/* 8=============================================D */
.Btn[data-following="true"] {
  pointer-events: none;
}

/* glow logo */
.glow-logo:before {
  background: linear-gradient(10deg,#4e3619,#936f28,#a8832e,#bda034,#d2bd3a,#a8832e,#8f6d26, #7e5b20,#6d4a1a,#4e3619);
}
.glow-logo:after {
  background: rgba(49, 51, 56, .855);
}

/* glow logo janitor, beta */
.css-1ej4ex, .css-bda9ez {
  color: var(--luxor-gold);
  text-shadow: 1px 1px black;
  font-family: "Recursive";
}

/* border coloring */
.css-0 {
  background: linear-gradient(141deg,#a8832e,#32270d,#644e1b,#b08f42) !important;
}

/* background(?) */
.css-1w2dxv6 {
  background: var(--shark);
}

/* profile orientation */
.css-1uodvt1 {
  flex-direction: column;
}
/* badge orientation */
.css-hjkukh {
  justify-content: center;
}

/* pfp */
.css-hsi2ui {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid var(--luxor-gold);
  transition-duration: .5s;
}
.css-hsi2ui:hover {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
}

/* username text */
.css-i6rxpf {
  position: relative;
  font-family: "Lobster";
  color: var(--luxor-gold);
  text-shadow: 1px 1px black, -1px -1px grey;
}

/* public characters text */
.css-1knfbnh {
  font-size: .001rem;
  font-family: "Lobster";
  color: var(--luxor-gold);
  text-shadow: 1px 1px black, -1px -1px grey;
}
.css-1knfbnh:before {
  font-size: 2.3rem;
  content: "Trash bin";
}

/* followers text */
.css-yrzye3 {
  text-align: center;
  font-family: "Recursive";
  color: var(--brown-rust);
  text-shadow: 1px 1px black;
}
.css-yrzye3:after {
/*   content: ", wow! How did that happen!? Thank you!"; */
  content: "!?";
}

/* follower container */
.css-y9k5u7 {
  justify-content: center;
}

/* bot card color */
.css-1jf56se {
  background: var(--shark);
}

/* gets rid of purple background gradient */
.css-s0ts5r {
  background: transparent;
}
/* bot card divider line */
.css-1lgnt2x {
  border-top: 1px solid var(--luxor-gold);
  width: 100%;
}

/* bot card star (turned off) */
.css-19ihot3 {
  opacity: 0;
}

/* bot card name */
.css-1ifv49 {
  font-family: "Recursive";
  color: var(--luxor-gold);
  text-shadow: 1px 1px black;
}

/* bot card username */
.css-tn683j {
  font-family: "Recursive";
  color: var(--brown-rust);
  text-shadow: 1px 1px black;
}

/* bot images */
img.chakra-image.css-147i79y {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid var(--luxor-gold);
  transition-duration: .5s;
}
img.chakra-image.css-147i79y:hover {
  z-index:1;
  box-shadow: 0px 0px 19px white;
  border-radius: 0px;
  transform: scale(1.1);
}

.ribbon .content {
  background: var(--brown-rust);
}

/* bot card text */
.css-96l1id {
  color: var(--wild-sand);
}

/* tag text */
.css-x2gqu0 {
  border: 1px solid var(--wild-sand);
  font-family: "Recursive";
  color: var(--wild-sand);
}
.css-x2gqu0:hover {
  border: 2px solid var(--luxor-gold);
}

/* limitless tag text */
.css-1ylu7un {
  font-family: "Recursive";
  font-size: .01rem;
/*  white-space: nowrap;
  overflow: hidden;
  width: 65px;
  justify-content: left;
  -webkit-justify-content: left; */
}
.css-1ylu7un:before {
  content: "🌶️ Spicy";
  font-size: .75rem;
}

/* number of characters button */
.Btn2-purple {
  font-family: "Recursive";
  color: var(--luxor-gold-lite);
  background: linear-gradient(to right,#32270d,#a8832e,#32270d,#644e1b,#b08f42,#644e1b);
  background-size: 250%;
  background-position: left;
}
.Btn2-purple:hover {
  background-position: right;
}
/* and text */
.css-9lg76n {
  font-family: "Recursive";
}

:root {
  --luxor-gold: #a8832e;
  --brown-rust: #b05843;
  --wild-sand: #f4f3f3;
  --luxor-gold-lite: #b08f42;
  --shark: #22272a;
}
