#disable-emojis {
  padding: 5px;
  opacity: 0.3;
  border-radius: 25px;
  font-family: Road Rage;
  position: fixed;
  background-color: white;
  color: var(--shark);
  transition-duration: 0.5s;
  &:hover {
    opacity: 1;
  }
}

.particle:nth-of-type(1),
.particle:nth-of-type(1) .waver {
  animation-delay: 1.3s;
  left: 10%;
}

.particle:nth-of-type(2),
.particle:nth-of-type(2) .waver {
  animation-delay: 6.2s;
  left: 25%;
}

.particle:nth-of-type(3),
.particle:nth-of-type(3) .waver {
  animation-delay: 12.34s;
  left: 40%;
}

.particle:nth-of-type(4),
.particle:nth-of-type(4) .waver {
  animation-delay: 18.48596s;
  left: 15%;
}

.particle:nth-of-type(5),
.particle:nth-of-type(5) .waver {
  animation-delay: 24.2s;
  left: 50%;
}

.particle:nth-of-type(6),
.particle:nth-of-type(6) .waver {
  animation-delay: 30.8675309s;
  left: 65%;
}

.particle:nth-of-type(7),
.particle:nth-of-type(7) .waver {
  animation-delay: 36.66s;
  left: 30%;
}

.particle:nth-of-type(8),
.particle:nth-of-type(8) .waver {
  animation-delay: 42.42s;
  left: 70%;
}

.particle:nth-of-type(9),
.particle:nth-of-type(9) .waver {
  animation-delay: 48.3s;
  left: 80%;
}

.particle:nth-of-type(10),
.particle:nth-of-type(10) .waver {
  animation-delay: 52.7s;
  left: 90%;
}

.particle:nth-of-type(11),
.particle:nth-of-type(11) .waver {
  animation-delay: 16.5s;
  left: 5%;
}

.particle:nth-of-type(12),
.particle:nth-of-type(12) .waver {
  animation-delay: 30.4s;
  left: 85%;
}

@keyframes pdrop {
  0% {opacity: 1; transform: translateY(0);}
  100% {opacity: 1; transform: translateY(110vh);}
}

@keyframes pwave {
  0,100% {transform: translateX(0);}
  50% {transform: scalex(-1) translateX(80px);}
}
